# Dependencies
node_modules/
**/node_modules/

# Build & Packaging Outputs
.next/
**/.next/
dist/
**/dist/
build/
**/build/
*.tsbuildinfo

# Local Environment Overrides
.env*.local
.env

# Allow production config
!.env.production

# Logs & System
*.log
.DS_Store
.vscode/
